.purpleLife h1 {
  font-size: 15px;
  text-align: center;
  color: #8d8d8d;
  margin: 20px 0px;
}

.purpleLife {
  position: relative;
  top: 15px;
}

.purpleLife p {
  color: #8a8a8a;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
}

.url {
  color: #be7dff;
  cursor: pointer;
}

.purpleLife p > span {
  opacity: 0.4;
  text-align: center;
}

.title {
  padding-top: 20px !important;
}

.controls {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
}

.loadButton {
  background-color: #3540a7 !important;
  width: 80px !important;
  height: 35px !important;
  color: white;
  border-radius: 8px !important;
}

.loadButton:disabled {
  background-color: #777777 !important;
  width: 80px !important;
  height: 35px !important;
  color: rgb(36, 31, 31);
  border-radius: 8px !important;
  border: 1px solid rgb(61, 61, 61);
  cursor: not-allowed;
}

.controls button {
  display: inline-block;
  background-color: #292929;
  width: 50px;
  height: 50px;
  border: 0px solid #be7dff;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  cursor: none;
  vertical-align: bottom;
  transition: 0.1s all;
}

.controls select {
  border: 1px solid white;
  height: 30px;
  font-family: "ocr-a-std";
  color: #6b6b6b;
  border-radius: 8px;
  padding: 2px;
}

.controls button > i {
  position: relative;
  color: rgb(204, 204, 204);
  font-size: 15px;
  text-shadow: 0px 0px 0px white;
  top: 0px;
  z-index: 10;
}

.controls button:disabled {
  cursor: not-allowed;
  background-color: #777777 !important;
}

.game-grid {
  text-align: center;
}

.row {
  height: 10px;
}

.cell:hover {
  background-color: #bcbcc1;
}

@media only screen and (max-height: 850px) and (min-width: 851px) {
  .purpleLife {
    position: relative;
    top: 0px;
  }

  .purpleLife p {
    color: #8a8a8a;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
  }
  .purpleLife h1 {
    font-size: 13px;
    text-align: center;
    color: #8d8d8d;
    margin: 20px auto;
  }
  .key2 {
    display: block;
    position: absolute;
    width: 350px;
    line-height: 25px !important;
    left: 25%;
    top: 150px;
    z-index: -1;
}
.row {
  height: 8px;
}
.cell {
  background-color: #4a4a4a;
  display: inline-block;
  width: 8px;
  height: 10px;
  cursor: none;
  border: solid 1px #343434;
}
}
