.particles {
    height: 65vh;
    margin-top: 30px;
}

#particleContainer h1 {
    font-size: 15px;
    text-align: center;
    color: #8d8d8d;
}

#particleContainer p {
    color: #8a8a8a;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
}

#particleContainer a {
    color: #be7dff;
    cursor: pointer;
}

canvas {
    background: #ffffff00;
    position: relative;
    top: -90px;
}